/*----- COLORS -----*/
:root {
    --black: #000000;
    --light: #BCE0CE;
    --accent: #8CCDAB;
}

/*----- NAV BAR -----*/
.nav-bar {
    /* outline: red dashed 3px; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

h2 {
    font-size: 25px;
}

.home-link,
.about-link {
    font-size: 18px;
    color: var(--black);
    text-decoration: none;
}